@use '../abstracts' as a;

input[type='radio'] {
  display: none;

  &:checked + label,
  & + label:hover {
    color: var(--text-color-1);
    background-color: var(--background-color-1);
  }

  & + label {
    padding: a.rem(4) a.rem(16);
    color: var(--background-color-1);
    background-color: var(--text-color-1);
    border: a.rem(2) solid var(--text-color-1);
    border-radius: a.rem(10);
    transition: color 0.15s, background-color 0.15s;
    cursor: pointer;
  }
}
