@use '../abstracts' as a;

input[type='color'] {
  -webkit-appearance: none;
  appearance: none;
  width: a.rem(60);
  height: a.rem(60);
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  overflow: hidden;
}
