@use '../abstracts' as a;

input[type='text'],
.task-modal__text-input,
.project-modal__text-input {
  padding: a.rem(4) a.rem(8);
  border: a.rem(2) solid var(--text-color-1);
  border-radius: a.rem(10);
  outline: none;
  background-color: var(--text-color-1);
  transition: color 0.15s, background-color 0.15s;

  &:focus {
    color: var(--text-color-1);
    background-color: var(--background-color-1);
  }
}

textarea {
  resize: none;
  width: 100%;
  height: a.rem(32);
}
