:root {
  --background-color-1: #1f1f1f;
  --background-color-2: #1a1a1a;
  --text-color: #f6f6f6;
  --red-color: #ff2929;
  --blue-color: #008cff;
  --green-color: #13ff65;
  --purple-color: #9d14ff;
}
