@use '../abstracts' as a;

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: a.rem(16);
  background-color: var(--background-color-1);
  box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 20px, rgba(0, 0, 0, 0.03) 0px 6px 6px;

  &__left,
  &__right {
    position: relative;
    display: flex;
    align-items: center;
    gap: a.rem(16);
  }

  .fa-house {
    transform: scale(0.9);
  }
}
