@use '../abstracts' as a;

.project-view {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  padding: a.rem(32);
  background-color: var(--background-color-3);
  transition: transform 0.15s;
  overflow: auto;

  &--active {
    grid-column: auto;

    @include a.breakpoint-max('m') {
      display: none;
    }
  }

  .fa-pen,
  .fa-trash {
    font-size: clamp(a.rem(15), 10px + 1.25vw, a.rem(18));
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: a.rem(16);
    justify-content: space-between;
    align-items: center;
    padding-bottom: a.rem(32);
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__settings {
    display: flex;
    align-items: center;
    gap: a.rem(16);
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    transition: transform 0.15s;
  }

  &__task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: a.rem(8);
    padding-bottom: a.rem(16);
    margin-bottom: a.rem(8);
    border-bottom: a.rem(3) solid var(--background-color-1);
    transition: opacity 0.15;

    &--checked {
      opacity: 0.6;
    }

    &__top {
      display: flex;
      align-items: center;
      gap: a.rem(8);
      word-wrap: break-word;
      word-break: break-word;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: a.rem(16);
    }

    &__settings {
      display: flex;
      align-items: center;
      gap: a.rem(16);
    }

    &__grip {
      cursor: move;
    }

    &__task-name {
      line-height: a.rem(20);
      transition: text-decoration 0.15s;

      &--checked {
        text-decoration: line-through;
      }
    }

    &__due-date {
      font-size: clamp(a.rem(10), 8px + 1vw, a.rem(18));

      &.overdue {
        color: var(--overdue);
      }
    }
  }
}
