@use '../abstracts' as a;

.sidebar {
  position: absolute;
  margin-top: a.rem(60);
  height: calc(100% - a.rem(92));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: a.rem(16) 0;
  background-color: var(--background-color-2);
  box-shadow: rgba(0, 0, 0, 0.01) 10px 10px 0px, rgba(0, 0, 0, 0.03) 6px 6px 0px;
  transform: translateX(-100%);
  transition: transform 0.25s;

  &.sidebar-active {
    position: initial;
    margin-top: 0;
    height: auto;
    transform: translateX(0);
  }

  &__projects {
    display: flex;
    flex-direction: column;
    gap: a.rem(8);
  }

  &__project {
    display: flex;
    align-items: center;
    gap: a.rem(16);
    padding: a.rem(8) a.rem(25);
    border-radius: a.rem(8);
    transition: background-color 0.15s;
    cursor: pointer;

    &:hover {
      background-color: var(--background-color-1);
    }
  }

  &__project-name {
    text-transform: uppercase;
  }
}
