@use '../abstracts' as a;

.body,
.container {
  background-color: var(--background-color-2);
}

i {
  cursor: pointer;
}

.red {
  color: var(--red-color);
}

.blue {
  color: var(--blue-color);
}

.green {
  color: var(--green-color);
}

.purple {
  color: var(--purple-color);
}
