@use '../abstracts' as a;

* {
  user-select: none;
}

.body,
.container {
  background-color: var(--background-color-3);
}

i {
  transition: color 0.15s, transform 0.15s;
  cursor: pointer;

  &:hover {
    color: var(--text-color-2);
  }

  &:active {
    transform: scale(0.8);
  }
}

.hide {
  display: none;
  opacity: 0;
}

.fade {
  opacity: 0;
}

.line-through {
  text-decoration: line-through;
}
