@use '../abstracts' as a;

html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: a.rem(2);
  color: var(--text-color-1);
}

h1 {
  font-size: clamp(a.rem(28), 16px + 2vw, a.rem(42));
}

h2 {
  font-size: clamp(a.rem(22), 16px + 1.5vw, a.rem(36));
}

p {
  font-size: clamp(a.rem(12), 10px + 1vw, a.rem(20));
}

i {
  font-size: clamp(a.rem(18), 14px + 1.25vw, a.rem(28));

  &.fa-house {
    font-size: clamp(a.rem(15), 10px + 1.25vw, a.rem(28));
  }

  &.project-view__task__icon {
    font-size: clamp(a.rem(15), 10px + 1.25vw, a.rem(28));
  }
}
