@use '../abstracts' as a;

html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--text-color-1);
}

h1 {
  font-size: clamp(a.rem(28), 16px + 2vw, a.rem(40));
}

h2 {
  font-size: clamp(a.rem(22), 14px + 1.5vw, a.rem(36));
}

p {
  font-size: clamp(a.rem(16), 10px + 1.25vw, a.rem(28));
}

i {
  font-size: clamp(a.rem(18), 14px + 1.25vw, a.rem(28));
}
